<div class="fab-button-holder"
  [@fabToggleTrigger]="fabToggle.fabToggleState.stateString">

  <div class="fab-shadow"
    *ngIf="fabToggle.fabToggleState.booleanValue"
    (click)="toggleFab()">
  </div>

  <div class="fab-trigger">
    <button mat-fab
      color="primary"
      (click)="toggleFab()"
      *ngIf="!fabToggle.fabToggleState.booleanValue">
      <fa-icon [icon]="['fas', 'cog']"></fa-icon>
    </button>
  </div>

  <div class="fab-action-holder"
    *ngIf="fabToggle.fabToggleState.booleanValue">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Actions</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item matRipple
            *ngFor="let singleItem of fabToggle.fabItems; let index = index"
            (click)="singleItem.itemAction">
            <div class="list-item"
              *ngIf="singleItem.itemType === 'iconButton'; else slideToggleButton">
              <fa-icon [icon]="['fas', singleItem.itemIcon]"
                *ngIf="singleItem.itemIcon !== undefined"></fa-icon>
              <span>{{ singleItem.itemText }}</span>
            </div>
            <ng-template #slideToggleButton>
              <mat-slide-toggle>
                {{ singleItem.itemText }}
              </mat-slide-toggle>
            </ng-template>
            <mat-divider *ngIf="index !== fabToggle.fabItems.length"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>