div {
  display: flex;
  flex-direction: column;
}

div.form-holder {
  padding: 1rem;
  justify-content: center;
  align-items: center;

  form {
    mat-card {
      mat-card-content {
        display: flex;
        flex-direction: column;
        mat-form-field {
          display: flex;
          flex-direction: column;
          flex: 1;
        }

        div.toggle-holder {
          div.slide-toggle-holder {
            flex-direction: row;
            div.slide-toggle-label {
              flex: 1;
            }
          }
          div.toggle-hint {
            flex-direction: row;
            align-items: center;
            padding-bottom: 1rem;
            font-size: 75%;

            fa-icon {
              margin: 0px 12px 0px 4px;
            }
          }
        }

        div.optional-field-group {
          flex-flow: row wrap;
        }
      }
    }
  }
}
