@import '~@angular/material/theming';
@include mat-core();

div {
  display: flex;
  flex-direction: column;
}

div.container {
  justify-content: center;
  align-items: center;

  mat-card {
    margin: 1rem;
    min-width: calc(320px - 4rem);
    width: calc((32 * 100vh / 35) - 4rem);
    max-width: calc(100vw - 4rem);

    mat-card-header {
      mat-card-title {
        div.card-title {
          text-align: center;
        }
      }
    }

    mat-card-content {
      mat-calendar {
        flex: 1;

        /deep/ {
          td.mat-calendar-body-cell:not([aria-disabled='true']) {
            font-weight: 900;
          }
        }
      }
    }
  }
}
