<div class="container">

  <!-- Ripple Layout -->
  <div class="button"
       matRipple
       matRippleRadius="100"
       matRippleCentered="true"
       (click)="createTrip()">
    <div class="button-content">
      <fa-icon [icon]="['fas', 'hiking']"></fa-icon>
      <span>{{ componentStrings.buttonHolder.createTrip }}</span>
    </div>
  </div>
  <div class="button"
       matRipple
       matRippleRadius="100"
       matRippleCentered="true"
       (click)="loadTrip()">
    <div class="button-content">
      <fa-icon [icon]="['fas', 'upload']"></fa-icon>
      <span>{{ componentStrings.buttonHolder.loadTrip }}</span>
    </div>
  </div>

  <!-- Button Layout -->
  <!-- <div class="button-holder">
    <div class="button">
      <button mat-flat-button
        color="primary"
        (click)="createTrip()">
        {{ componentStrings.buttonHolder.createTrip }}
      </button>
    </div>
    <div class="button">
      <button mat-flat-button
        color="primary"
        (click)="loadTrip()">
        {{ componentStrings.buttonHolder.loadTrip }}
      </button>
    </div>
  </div> -->

  <!-- Card Layout -->
  <!-- <div class="card-holder">
      <mat-card class="ia-custom-theme">
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <span>Create Trip</span>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <span>Load Trip</span>
        </mat-card-content>
      </mat-card>
    </div> -->

</div>