/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0rem;
  padding: 0rem;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*.hidden {
  display: none;
}
